p {
  margin-bottom: 0;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: rgb(233, 148, 148);
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 30px;
}
.nav-item:last-child {
  margin-right: 0;
}

.price-filter-block {
  margin-top: 20px;
}
.price {
  font-size: 18px;
  font-weight: bold;
}
.price-filter-block-inputs {
  margin-top: 10px;
  margin-bottom: 10px;
}
.price-input {
  width: 100px;
  padding-left: 10px;
}
.form-control {
  width: 100px;
}


/********* Product card ***************/
.margin-bottom {
  margin-bottom: 10px;
}
.card {
  height: 470px;
}
.card:hover ~ .product-img-slider::after {
  display: block;
}
.product-img-sliders {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  max-height: 252px;
  min-height: 252px;
  height: 100%;
}
.product-img-slider {
  flex-basis: 50%;
  justify-content: flex-end;
}
.product-img-slider::after {
  content: '';
  display: none;
  width: 100%;
  height: 2px;
  margin: 0 1px 2px;
  background-color: rgba(232,232,232,.8);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}
.product-img-slider:first-child > .product-img-block {
  opacity: 1;
}
.product-img-slider:hover {
  cursor: pointer;
}
.product-img-slider:hover ~ .product-img-block {
  opacity: 1;
  left: 0;
}

.product-img-block {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.product-img {
  max-width: 100% !important;
  max-height: 100% !important;
  position: absolute;
}
.card-body {
  padding: 0.55rem;
  height: 220px;
  position: relative;
}

.card-seller {
  font-size: 12px;
  font-weight: bold;
  color: #007bff;
}
.card-price,.price-none {
  padding: 5px 10px;
  background-color: #3cd846;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  bottom: 10px;
}
.price-none {
  background-color: rgb(97, 97, 97);
}
p.favorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
p.favorite > i:hover {
  color: rgb(53, 106, 219);
}
